/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  padding-top: 25px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  color: white;
}

/* END Sticky footer styles */

h2 {
  color: #4aaaa5;
}

p > a {
    color: #4aaaa5;
}

nav {
  color: white;
  background-color: #4aaaa5;
}

textarea {
  resize: none;
}
