/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    padding-top: 25px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
}

/* END Sticky footer styles */

body {
    color: #777777;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    color: white;
    background-color: #4aaaa5;
    height: auto;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    float: left;
}

h2 {
    color: #4aaaa5;
}

h3 {
    font-size: 1.5rem;
}

p > a {
    color: #4aaaa5;
}

hr {
    color: #dddddd;
    border: 1.5px solid !important;
}

nav {
    color: white !important;
    background-color: #4aaaa5 !important;
}

.nav-item > a{
        color: white !important; 
    }

.navbar-toggler {
    z-index: 1;
    border-color: white !important;
}

#nav-external {
    background-color: #4aaaa5;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.navbar-brand {
    padding-left: 0.5rem;
}

main {
    background-color: white;
}

textarea {
    resize: none;
}

.contact-button {
    width: 7.rem;
    height: 2.70rem;
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.portfolio-item {
    padding: 0;
    width: 100%;
    min-width: 226px;
    margin-left: 15px;
    margin-right: 15px;
}

.portfolio-row {
    justify-content: space-around;
}

.image-text-overlay {
    display: block;
    width: 276px;
    height: 3.75rem;
    max-width: 100%;
    color: #ffffff;
    background-color: #4aaaa5;
    overflow: inherit;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.75rem;
}

@media (min-width: 768px) {
  
    body {
        background-image: url("../images/gravel.png");
    }

    main {
        width: 85%;
        border: 1px solid #cccccc;
        overflow: auto;
        padding: 1rem;
        padding-left: 3rem;
        margin-top: 3rem;
        margin-bottom: 7rem;
    }

    .navbar, .navbar-brand {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }

    #nav-external {
        background-color: white;
        border-bottom: 1px solid #cccccc;
    }

    nav {
        max-width: 85%;
    }

    .nav-item > a{
        color: #777777 !important;
    }

    .nav-item > a:hover{
        color: #4aaaa5 !important;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
    }

    .navbar-toggler {
        border-color: rgba(0, 0, 0, 0.5) !important;
    }

    .portfolio-row {
        justify-content: unset;
        float: left;
    }

    h1 {
        width: 17rem;
        padding-top: 29px;
        padding-bottom: 29px;
    }
}